body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
  
    
}
h1 {
    text-align: center;
}

h2, h3 {
    font-family: 'Bebas Neue', cursive;
    text-decoration: underline;
    letter-spacing: 2px; 
}
h2 {
    font-size: 45px;
    text-decoration: none;
}
#leftBlock {
  
    background-color: rgb(40, 63, 84);
    color: azure;
    margin: 3px,0px,3px,3px;
    width: 800px;
}

#rightBlock {

    background-color: rgb(208, 225, 241);
    margin: 3px,3px,3px,0px;
    padding: 40px 50px 0px 70px;
}

#hello {
    height: 100%;
    width: 100%;
}
    
#contactInfo {
    margin: 20px;
}
#education li{
    list-style: none
}
#education ul{
    line-height: 130%;
    margin-left: 0;
    padding-left: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: #265301;
}
a:hover{
    color: rgb(40, 63, 84);
}

#table a {
    outline: none;
    text-decoration: none;
    color: rgb(208, 225, 241);
}
#table a:hover {
  
    color: rgb(18, 121, 39);
}
